*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy";
}
html, body{
    width: 100%;
    height: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: #ededed;
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 26% 56% 18%;
}
#left-top-left{
  /* background-color: crimson; */
  padding: 40px;
}

#left-top-right{
    /* background-color: rgb(56, 19, 83); */
    /* justify-self: right; */
    text-align: right;
    padding : 40px;
}

#left-top-right h4{
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 500;
}

#left-top-right h5{
    font-size: 18px;
    font-weight: 500;
    color: #333;
}


#left-center{
    /* background-color: royalblue; */
    grid-column: 1/3;
    padding: 40px;
}

#left-bottom{
    /* background-color: chartreuse; */
    grid-column: 1/3;
    padding: 40px;
}

#left-bottom p{
    width: 70%;
    font-size: 18px;
    font-weight: 500;
    /* color: ; */
}

#right{
     /* background-color: blueviolet; */
    grid-column: 3;
    grid-row: 1/4;
    padding: 40px;
    padding-right: 150px;
}

#left-center h1{
    font-size: 11vh;
    line-height: 11vh;
    text-transform: uppercase;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    /* color: #333; */
}

#left-center h1:nth-child(2n){
    text-align: center;
}

#square{
    background-color: black;
    width: 25px;
    height: 25px;
    rotate: 45deg;
}

#right video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
}

#arrow{
    position: absolute;
    top: 50%;
    left: 52.5%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orangered;
    color: white;
    padding: 20px;
    border-radius: 50%;
    /* height: 70px;
    width: 70px; */
}
#arrow:hover{
    background-color: #ed4613;
    cursor: pointer;
}
#arrow i{
    font-size: 30px;
    font-weight: 100;
}


@media (max-width: 600px){
    #main{
        grid-template-columns: 50% 50%;
        grid-template-rows: 60px 30% 10%;
}
#right{
     /* background-color: blueviolet; */
    grid-column: 1/4;
    grid-row: 4;
    padding: 20px;
    /* padding-right: 150px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -15%;
}

#left-top-left{
  /* background-color: crimson; */
  padding: 20px;
}

#left-top-right{
    /* background-color: rgb(56, 19, 83); */
    /* justify-self: right; */
    text-align: right;
    padding : 40px;
}

#left-top-right h4{
    margin-bottom: 30px;
    
    font-size: 20px;
    font-weight: 500;
}

#left-top-right h5{
    display: none;
    font-size: 18px;
    font-weight: 500;
    color: #333;
}


#left-center{
    /* background-color: royalblue; */
    align-content: center;
    justify-items: center;
    grid-column: 1/3;
    padding: 40px;
}

#left-center h1:nth-child(2n){
    padding-left: 100px;
}


#left-bottom{
    /* background-color: chartreuse; */
    grid-column: 1/3;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#left-bottom p{
    width: 70%;
    font-size: 12px;
    font-weight: 500;
    /* color: ; */
}


#left-center h1{
    font-size: 5vh;
    line-height: 5vh;
}

#square{
    width: 20px;
    height: 20px;
}

#right video{
    width: 70%;
    height: 70%;
    object-fit: cover;
    border-radius: 3px;
    
}

#arrow{
    position: absolute;
    top: 54%;
    left: 52.5%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orangered;
    color: white;
    padding: 20px;
    border-radius: 50%;
    /* height: 70px;
    width: 70px; */
}
#arrow:hover{
    background-color: #ed4613;
    cursor: pointer;
}
#arrow i{
    font-size: 30px;
    font-weight: 100;
}

}